.landing-section {
  text-align: center;
  margin-top: 30vh;
}

.featured-container {
  margin-top: 10vh;
  padding-bottom: 2rem;
}

.featured-cards {
  display: flex;
  justify-content: space-evenly;
}
