.landing-section {
  text-align: center;
  margin-top: 25vh;
}

.featured-container {
  margin-top: 30vh;
  padding-bottom: 8rem;
}

.featured-cards {
  display: flex;
  justify-content: space-evenly;
  
}