@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');


.favorites-section {
  margin-top: 7rem;
  margin-bottom: 1%;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.keyword-form {
  margin-bottom: 2rem;
}

.input {
  width: 15rem;
  border: 1px solid black;
  font-family: 'Roboto Condensed', sans-serif;

}

.favorites-container > h2 {
  font-family: 'Roboto Condensed', sans-serif;
}