.single-result-section {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 10rem;
  /* border: 1px solid black; */
}

.single-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  position: relative;
  width: 30rem;
}

.business-photo {
  width: 15rem;
}

.information-container {
  margin-left: 1%;
}

.favorite-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5%;
}

.favorite-icon-active {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5%;
  fill: limegreen;
}

.favorite-icon:hover,
.favorite-icon-active:hover {
  cursor: pointer;
}

.single-rating-container {
  margin-top: -20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
}

.phone {
  font-family: 'Open Sans', sans-serif;

}
.website-url {
  text-decoration: underline;
}
.phone {
  color: blue;
}