@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.business-card {
  box-shadow: 1px 1px 20px grey;
  width: 10rem;
  margin: 1%;
  background-color: aliceblue;
  position: relative;
  /* height: 10rem; */
  transition: 0.4s;
}

.business-card:hover {
  box-shadow: 1px 1px 20px black;
  transition: 0.4s;
}

.business-card-image {
  width: 10rem;
  height: 8rem;
}

.rating-container {
  margin-top: -20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
}

.title {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}
.address {
  margin-top: -15px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  font-weight: 200;
  color: #5A5A5A;
}

.under-img {
  padding: .5rem;
}

.add-from-card {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 2px;
  top: 4px;
  color: aliceblue;
}

.favorites {
  fill: gold
}