@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #acdcb4;
  margin-top: auto;
  margin-bottom: -1%;
  margin-left: -1%;
  width: 100%;
  padding: 10px;
  font-family: 'Bebas Neue';
  color: black;
}

.footer-logo {
  width: 3.5rem;
  margin-left: .7rem;
}

.footer-container {
  display: flex;
  justify-content: right;
}

.frontend-container {
  margin-right: 20px;
  margin-left: 10px;
}

.frontenders, .backenders {
  font-size: .8rem;
  margin-bottom: 8px;
}

.contributors {
  font-size: .7rem;
  margin: 1px;
}