body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f3ed;
}

section {
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

a:hover {
  color: #22577A;
  transition: 0.4s;
}

button:hover {
  cursor: pointer;
}