body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f3ed;
}

section {
  min-height: 100vh;
}

/* a {
  color: #CA3D33;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

a:hover {
  color: #3E3431;
  transition: 0.4s;
} */