@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  background-color: #acdcb4;
  left: -1px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  height: 5rem;
}

.main-nav img {
  width: 3.5rem;
  margin-left: .7rem;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-word {
  margin-top: 20px;
  margin-bottom: 1px;
  text-decoration: none;

}

.greeting-menu-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  margin: 0.25%;
}

.login-container {
  position: fixed;
  top: 4.5rem;
  right: 0.5rem;
  height: 7rem;
  width: 10rem;
  z-index: 100;
  padding: 3px;
  background-color: #F2E8CF;
  transition: 0.5s;
}

.login:hover {
  color: #22577A;
  cursor: pointer;
  transition: 0.5s;
}

.menu {
  margin-right: 1rem;
}

.inactive {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.inactive:hover {
  color: #22577A;
}

.active {
  color: #22577A;
}
