.main-nav {
  border: 0.1rem solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 99vw;
}

.main-nav img {
  width: 3.5rem;
}

.greeting-menu-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  margin: 0.25%;
}

.login-container {
  border: 1px solid red;
  position: absolute;
  top: 4.5rem;
  right: 0.5rem;
  height: 10rem;
  width: 10rem;
  z-index: 1;
}